<div class="jumbotron center"

<h1>Welcome to Demandsense</h1>
<p>
	<%= link_to "Login","http://google.com", class: "btn-default btn-lg" %>
	<%= link_to "Sign Up","http://google.com", class: "btn-primary btn-lg" %>

	</p>
</div>